<div th:fragment="info">
	<label sec:authorize="isAuthenticated()">Loggedin user => </label>
	<label sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUsername()}"></label>
	<br />
	<br />
	<label sec:authorize="isAuthenticated()">Loggedin user roles => </label>
	<label sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getAuthorities()}"></label>
	<br />
	<br />
	<label sec:authorize="isAuthenticated()">Loggedin principal => </label>
	<label sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal()}"></label>
	<br />
	<br />
	<label sec:authorize="isAuthenticated()">Loggedin authentication => </label>
	<label sec:authorize="isAuthenticated()" th:text="${#authentication}"></label>
	<br />
	<br />
	<label sec:authorize="isAuthenticated()">Loggedin user name with 'sec:authentication' => </label>
	<label sec:authorize="isAuthenticated()" sec:authentication="name"></label>
	<br />
	<br />
	<label sec:authorize="isAuthenticated()">Loggedin user authorities with 'sec:authentication' => </label>
	<label sec:authorize="isAuthenticated()" sec:authentication="authorities"></label>
	<br />
	<br />
	<label sec:authorize="isAuthenticated()">Loggedin user details with 'sec:authentication' => </label>
	<label sec:authorize="isAuthenticated()" sec:authentication="details"></label>
	<br />
	<br />
	<label sec:authorize="isAuthenticated()">Loggedin user principal with 'sec:authentication' => </label>
	<label sec:authorize="isAuthenticated()" sec:authentication="principal"></label>
	<br />
	<br />
	<div sec:authorize="isAuthenticated()">This content is only shown to authenticated users.</div>
	<div sec:authorize="hasRole('ADMIN')">This content is only shown to administrators.</div>
	<div sec:authorize="hasRole('USER')">This content is only shown to users.</div>
	<div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">This content is only shown to administrators.</div>
	<div th:if="${#authorization.expression('hasRole(''USER'')')}">This content is only shown to users.</div>
</div>