<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="ISO-8859-1">
<title>Spring thymeleaf demo</title>
</head>
<body>
	<a sec:authorize="isAuthenticated()" href="logout">logout</a>
	<a sec:authorize="!isAuthenticated()" href="systemlogin">login</a>
	<a href="index">home</a>
	<a>add</a>
	<br />
	<form method="post" th:action="@{addbook}" th:object="${newbook}">
		<input id="name" placeholder="Book name" required type="text" th:field="*{name}" />
	<br />
		<input id="year" placeholder="Book year" required type="number" th:field="*{year}" />
	<br />
		<input id="author" placeholder="Book author" required type="text" th:field="*{author}" />
	<br />
		<input type="submit" value="Save book">
	</form>
</body>
</html>